[Interface]
MTU = 1280
H1 = REPLACE_WITH_H1_RANGE
H2 = REPLACE_WITH_H2_RANGE
H3 = REPLACE_WITH_H3_RANGE
H4 = REPLACE_WITH_H4_RANGE
S1 = REPLACE_WITH_S1
S2 = REPLACE_WITH_S2
S3 = REPLACE_WITH_S3
S4 = REPLACE_WITH_S4
Jc = REPLACE_WITH_JC
Jmin = REPLACE_WITH_JMIN
Jmax = REPLACE_WITH_JMAX
I1 = REPLACE_WITH_I1
I2 = REPLACE_WITH_I2
I3 = REPLACE_WITH_I3
I4 = REPLACE_WITH_I4
I5 = REPLACE_WITH_I5
HeaderProtectionKey = REPLACE_WITH_HEADER_PROTECTION_KEY
ContentPaddingAddition = REPLACE_WITH_CONTENT_PADDING_ADDITION
RekeyAfterTime = REPLACE_WITH_REKEY_AFTER_TIME
RekeyTimeout = REPLACE_WITH_REKEY_TIMEOUT
RejectAfterTime = REPLACE_WITH_REJECT_AFTER_TIME
KeepaliveTimeout = REPLACE_WITH_KEEPALIVE_TIMEOUT
MaxHandshakeAttempts = REPLACE_WITH_MAX_HANDSHAKE_ATTEMPTS
RandomTrailers = off
DisableCookies = off

PrivateKey = REPLACE_WITH_PRIVATE_KEY
Address = REPLACE_WITH_CLIENT_ADDRESS/32
DNS = REPLACE_WITH_DNS

[Peer]
PublicKey = REPLACE_WITH_SERVER_PUBLIC_KEY
PresharedKey = REPLACE_WITH_PRESHARED_KEY
Endpoint = REPLACE_WITH_ENDPOINT:PORT
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
